.bodycell:nth-child(odd) {
  background: hsl(0, 0%, 95%);
}
.bodycell:nth-child(even) {
  background: hsl(0, 0%, 85%);
}
.wrapper {
  background: hsl(0, 0%, 95%);
}
.bodycell {
  padding: 30px 20%;
}
.tag {
  border: solid 2px black;
  border-radius: 3px;
  background: grey;
  color: white;
  padding: 1px;
  margin: 1px;
}
.title a{
  color: white;
  text-decoration: none;
}
.header {

}
.container {
  width: 550px;
  height: 310px;
  margin: auto;
  position: relative;
  z-index: 2;
  perspective: 800px;
}
.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  border: thick black solid;
}
.card img {
  width: 550px;
  height: 300px;
}
.card div {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card .front {

}
.card .back {
  background: #8e44ad;
  transform: rotateY( 180deg );
  color: white;
}
.card:hover {
  transform: rotateY( 180deg );
}
.back h2 {
  padding-top: 10px;
  font-size: 2em;
  padding-left: 10px;
  background-color: #3498db;
}
.back p, h3 {
  margin: 8px;
}
.back span {
  margin-left: 10px;
}
.back a {
  text-decoration: none;
  font-weight: bold;
  color: #2ecc71;
}
